{% extends 'layout.html' %}

{% block content %}
    <div style="display: flex; justify-content: center;">
        <img src="static/img/moving-car.gif" alt="Moving car" height="155px" width="334px" align="center">
    </div>
    <div class="container">

          <form class="form-signin" method="POST">
            <h2 class="form-signin-heading">Register Here</h2>
            {{ form.hidden_tag() }}
            <label for="hno">Employee ID</label>
            <input type="number" name="empid" id="empid" placeholder="Ex: 20786" class="form-signin form-control"><br>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Ex: SaikrishnaThatikonda" class="form-signin form-control"><br>
            <label for="hno">E-mail Address</label>
            <input type="email" name="email" id="email" placeholder="Ex: SaiK.Thatikonda@us.metrixlab.com" class="form-signin form-control"><br>
            <h4>Gender</h4>
            <select name="gender" class="form-signin form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br>
            {{ wtf.form_field(form.login) }}
            {{ wtf.form_field(form.logout) }}
            {{ wtf.form_field(form.password,style="background-color:white; border:0.5px solid #A4A5A7; color:black") }}
            {{ wtf.form_field(form.confirm,style="background-color:white; border:0.5px solid #A4A5A7; color:black") }}
            <label for="hno">H.No Street</label>
            <input type="text" name="hno" id="hno" placeholder="Ex: 7-149,Road no 11" class="form-signin form-control"><br>
            <label for="address">H.No Street</label>
            <input type="text" name="address" id="address" placeholder="Ex: Maruthi Nagar, Santosh nagar,Hyderabad" class="form-signin form-control"><br>
            <label for="pincode">PinCode</label>
            <input type="number" name="pincode" id="pincode" placeholder="Ex: 500060" class="form-signin form-control"><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:black;">Register</button>
        </form>

    </div> <!-- /container -->
{% endblock %}